* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .spacer{
    height: 1px;
    width: auto;
    background-color: rgb(226, 223, 223);
  }

  @import "header";
  @import "body";